@use "@/App/Styles/_mixins" as mixins;

.ReasonRow-container {
	display: flex;
	flex-direction: column;
	gap: 0px;
	width: 100%;
	padding: 6px 12px;
	border-radius: 4px;
	box-sizing: border-box;
	transition: all 0.2s ease;
	background: rgba(255, 255, 255, 0.02);
	position: relative;
	border: 1px solid rgba(255, 255, 255, 0.06);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

	html[data-theme="light"] & {
		background: #ffffff;
		border: 1px solid #e4ebf9;
	}

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 8px;
		width: 8px;
		border-left: 1px solid rgba(140, 147, 143, 1);
		border-bottom: 1px solid rgba(140, 147, 143, 1);
	}

	&:hover {
		cursor: pointer;
		background: rgba(255, 255, 255, 0.04);
		border: 1px solid rgba(59, 141, 245, 0.4);
		box-shadow:
			0 10px 20px rgba(0, 0, 0, 0.1),
			0 4px 6px rgba(0, 0, 0, 0.1);

		html[data-theme="light"] & {
			background: #faf8f8;
			border: 1px solid rgba(59, 141, 245, 0.4);
		}
	}

	&-open {
		gap: 12px;

		&::after {
			border-left: 1px solid rgba(59, 141, 245, 1);
			border-bottom: 1px solid rgba(59, 141, 245, 1);
		}
	}
}

.ReasonRow-row {
	flex: 1 0 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	gap: 8px;
	box-sizing: border-box;
}

.ReasonRow-chevron-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ReasonRow-chevron {
	transition: transform 0.3s ease;
}

.rotate-chevron {
	transform: rotate(180deg);
}

.ReasonRow-title {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	flex: 1 0 0;
	overflow: hidden;
	color: var(--text, #ffffff);
	text-overflow: ellipsis;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;

	html[data-theme="light"] & {
		color: #0b101a;
	}
}

.ReasonRow-test {
	display: flex;
	align-items: center;
	gap: 4px;
	flex: 1 0 0;
}

.ReasonRow-test-name {
	color: var(--text-secondary, rgba(255, 255, 255, 0.7));
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;

	html[data-theme="light"] & {
		color: rgba(81, 89, 103, 1);
	}
}

.ReasonRow-level {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	gap: 8px;
	width: 80px;
	height: 8px;
	border-radius: 4px;
	background: linear-gradient(
		90deg,
		rgba(231, 72, 80, 0.5) 0%,
		rgba(255, 135, 24, 0.5) 25%,
		rgba(159, 254, 114, 0.5) 50%,
		rgba(255, 135, 24, 0.5) 75%,
		rgba(231, 72, 80, 0.5) 100%
	);

	&-hidden {
		visibility: hidden;
	}
}

.ReasonRow-image {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 80px;
}

.ReasonRow-thumb {
	position: absolute;
	height: 8px;
	width: 8px;
	left: var(--level);
	bottom: 0;
	background: #ffffff;
	z-index: 1;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.ReasonRow-thumb-line {
	height: 12px;
	width: 2px;
	left: var(--level);
	bottom: 0;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, #fff 100%);
	z-index: 2;
}

.ReasonRow-value {
	display: flex;
	align-items: center;
	gap: 2px;
	flex: 1 0 0;
}

.ReasonRow-value-number {
	color: var(--text, #ffffff);
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;

	html[data-theme="light"] & {
		color: rgba(33, 38, 46, 1);
	}
}

.ReasonRow-value-unit {
	color: var(--text-secondary, rgba(255, 255, 255, 0.7));
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;

	html[data-theme="light"] & {
		color: rgba(108, 117, 132, 1);
	}
}

.ReasonRow-status-wrapper {
	flex: 1 0 0;
	display: flex;
	justify-content: flex-start;
}

.ReasonRow-status {
	display: flex;
	gap: 4px;
	width: fit-content;
	max-height: 20px;
	padding: 4px 8px 4px 6px;
	border-radius: 100px;
	border: 1px solid rgba(148, 178, 236, 0.6);

	display: -webkit-box;
	max-width: 96px;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	color: #cc4047;
	text-align: center;
	text-overflow: ellipsis;

	font-size: 12px;
	font-weight: 400;
	line-height: 14px;

	&-red {
		color: #ef4444;
		border-color: rgba(239, 68, 68, 0.3);
		background-color: rgba(239, 68, 68, 0.1);
	}

	&-orange {
		color: #f59e0b;
		border-color: rgba(245, 158, 11, 0.3);
		background-color: rgba(245, 158, 11, 0.1);
	}

	&-green {
		color: #10b981;
		border-color: rgba(16, 185, 129, 0.3);
		background-color: rgba(16, 185, 129, 0.1);
	}
}

.ReasonRow-date {
	flex: 1 0 0;
	color: var(--text-secondary, rgba(255, 255, 255, 0.7));
	text-align: right;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;

	html[data-theme="light"] & {
		color: rgba(81, 89, 103, 1);
	}
}

.ReasonRow-description {
	max-height: 0;
	overflow: hidden;
	transition: all 0.3s ease;
	color: var(--text-secondary, rgba(255, 255, 255, 0.7));
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;

	html[data-theme="light"] & {
		color: rgba(81, 89, 103, 1);
	}

	&-open {
		transition: all 0.3s ease;
		max-height: 100px;
		border-radius: 2px;
	}
}
